{{# each products}}
 
product!
{{/each}}


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Small Pizza</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a ><button>BUY</button></a>
    <a>269.99$</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Medium Pizza</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   <a ><button>BUY</button></a>
    <a>322.99$</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Large Pizza</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   <a ><button>BUY</button></a>
    <a>394.99$</a>
  </div>
</div>